 .button1{
  text-align: center;
  padding: 20px;
 }
 #button a{
    display: inline-block;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    padding: 0px 30px;
    margin: 10px;
    border-radius: 15px;
    transition: all .3s;
}
a{
    text-decoration: none ;
}

#button :hover {
    background-color:#f35525;
  }
  
  #button :focus,
  #button .focus {
    outline: 0;
  }
  
  .button:disabled,
  .button.disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
  @media screen and (max-width: 480px) {
    #button a {
      width: 100%;
    }
  }